@media screen and (max-width: 1199px) {



}

@media screen and (max-width: 1068px) {

	#about .container {
		flex-direction: column;
		justify-content: center;
		align-items: center;
	}

	.about-wrapper {
		text-align: center;
	}

	#about h2::before {
		left: 98px;
	}

	#about img {
		margin-top: 30px;
		margin-right: 0;
		margin-left: 30px;
	}

	.tr-des-wrapper {
		flex-direction: column;
		margin-top: 100px;
	}

	.triggers-des {
		margin: 0;
		text-align: center;
		margin-top: 40px;
	}

	#offer .flex-center {
		flex-direction: column;
	}

	.offer-wrapper {
		order: 2;
		margin-right: 0;
		margin-top: 40px;
	}

	#offer h3 {
		margin-top: 110px;
	}

	.pay-box {
		flex-wrap: wrap;
		padding-right: 30px;
		padding-left: 30px;
	}

	#about .container {
		padding-bottom: 70px;
	}

	.UP-wrapper {
		flex-direction: column;
	}

	.popup-buy .pay-box {
		margin-top: 75px;
	}

	.UP-wrapper p {
		text-align: center;
	}

}

@media screen and (max-width: 900px) {

	.pay-item {
		margin-bottom: 20px;
		margin-left: 10px;
		margin-right: 10px;
	}

		.ya a {
		padding-right: 40px;
	}

	.ya a::after {
		right: -5px;
	}

	.d-a {
		margin-right: 15px;
	}

	.pb a::before,
	.up a::before,
	.ya a {
		margin-left: 0;
	}

	.pay-box {
		justify-content: center;
	}

	.two-col-wrapper {
		flex-direction: column;
	}

	.one-col-text {
		width: auto;
		padding-left: 30px;
		padding-right: 30px;
	}

	.col-center h2 {
		text-align: left;
	}

	.popup-area {
		width: 80%;
	}

	.popup-main {
		padding: 70px;
		padding-top: 100px;
	}

}

@media screen and (max-width: 790px) {

	.trigger-box {
		flex-direction: column;
	}

	.trigger-item {
		margin-bottom: 75px;
	}

	#triggers h2 {
		margin-bottom: 50px;
	}

	.trigger-item:nth-child(2)::before {
		margin-bottom: 20px;
	}

	.trigger-item:nth-child(3)::before {
		margin-bottom: 20px;
	}

	.page h1::before,
	.page h1::after {
		display: none;
	}

	.popup-area {
		width: 100%;
	}

	.popup-buy .pay-box {
		padding-left: 0;
	}

	.popup-buy .popup-main {
		padding: 20px;
		padding-top: 100px;
		padding-bottom: 70px;
		width: 100%;
	}

}

@media screen and (max-width: 638px) {

	.h1-wrapper {
		margin-left: auto;
		margin-right: auto;
		text-align: center;
	}

	.h1-wrapper p {
		margin-left: auto;
		margin-right: auto;
	}

	.about-wrapper {
    	width: 100%;
	}

	#about h2::before {
    	position: static;
    	margin-left: auto;
    	margin-right: auto;
    	margin-bottom: 20px;
	}

	#about h2 {
		padding-left: 0;
	}

	.about-wrapper {
		margin-top: 0;
	}

	.tr-des-wrapper,
	#about .container {
		padding-left: 15px;
		padding-right: 15px;
	}

	.triggers-des {
		width: 100%;
	}

	.page nav {
		flex-direction: column;
	}

	.page .chost-btn {
		margin-right: auto;
		margin-top: 10px;
	}

	.page .menu-box {
		justify-content: space-between;
		width: 100%;
	}

	.popup-main {
		width: 99%;
	}

	.pay-box-wrapper {
		flex-direction: column;
	}

	.popup-buy .pay-box {
    	margin-top: 10px;
    	margin-right: 0px;
    	padding-right: 0px;
	}

	.popup-buy .ya a {
    	margin-left: -6px;
	}

	.popup-buy .pay-item {
    	margin-bottom: 35px;
	}

}

@media screen and (max-width: 532px) {

	nav {
		flex-direction: column;
		justify-content: center;
	}

	nav .chost-btn {
		margin: 0;
		margin-top: 20px;
	}

	.menu-box {
		margin-left: 0;
	}

	.menu-item:last-child,
	.social-item:last-child {
		margin-right: 0;
	}

	.social-box {
		margin-right: auto;
	}

	.page nav {
		flex-direction: column;
		padding-top: 40px;
		margin-left: 30px;
		margin-right: 30px;
	}

	.page .chost-btn {
		margin-right: auto;
		margin-top: 10px;
		margin-left: auto;
	}

	.page .menu-box {
		justify-content: space-between;
		width: 100%;
	}

	.page .social-item a {
		text-align: center;
	}

	.popup-main {
    	padding: 30px;
    	padding-top: 100px;
    	padding-bottom: 50px;
	}

}

@media screen and (max-width: 444px) {

	h1 {
		font-size: 100px;
		margin-bottom: 20px;
	}

	.h1-wrapper p {
		font-size: 16px;
	}

	#about-img {
		display: none;
	}

	#about {
		padding-bottom: 0;
	}

	.tr-des-wrapper img {
		width: 100%;
		height: auto;
	}

	#offer img {
		width: 92%;
		height: auto;
	}

	#triggers .container {
		padding-left: 15px;
		padding-right: 15px;
	}

	.page h1 {
		font-size: 30px;
		width: auto;
		margin-right: 20px;
		margin-left: 20px;
		text-align: center;
		display: block;
	}

	.page .menu-item a {
		width: auto;
	}

	.popup-main h3 {
		font-size: 28px;
	}

}

@media screen and (max-width: 374px) {

	.pay-box {
		flex-direction: column;
	}

	.pb {
		margin-top: 10px;
		margin-bottom: 0;
	}

	.d-a {
		margin-right: 0;
		margin-bottom: 25px;
	}

	.about-wrapper,
	.triggers-des {
		text-align: left;
	}

	.tr-des-wrapper {
		padding: 0;
	}

	.one-col-text {
	    padding-left: 15px;
	    padding-right: 15px;
	}

	#rules-content {
		font-size: 17px;
		line-height: 29px;
	}

	.popup-main {
	    padding: 13px;
	    padding-top: 100px;
	    padding-bottom: 50px;
	}

}

@media screen and (max-width: 360px) {

	footer {
		padding-left: 15px;
		padding-right: 15px;
		text-align: center;
		line-height: 25px;
		font-size: 12px;
	}


}